*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
    
}


body {
     height: 100vh;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #003366 0%, #339966 100%);
      display: flex;
      flex-direction: column;
}

.from-currency{
    display: flex;
	align-items: center;
	justify-content: space-between;
}
.heading{
    color: white;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
     padding: 10px;
}
.container{
    justify-content: center;
    align-items: center;  
    margin: 0px auto;  
    height: 100vh;
    text-align: center;


}

select{
    font-size: 17px;
    color: black;
    background: transparent;
    border: 0;
    text-align: right;
    font-weight: 300;



}

p{
    float: left;
    color: yellow;
    margin-right: 30px;
    font-size: 20px;
    letter-spacing: 2px;
}